@import "~taro-ui/dist/style/components/icon.scss";

.play-container {
  
  .list-container {
    padding: 0 20px;
  }
  .play-item {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    height: 86px;
  }
  .play-name {
    width: 80%;
    white-space: break-all;
  }
}
